In [2]:
import pandas as pd
import numpy as np

In [3]:
index = np.arange(101,121)


price = [80121, 48483, 37077, 30660, 68536, 52666, 78703, 51036, 55643, 56990, 39967, 93822, 51406, 93947, 78373, 62765, 47536, 40528, 58780, 83197]
print(type(price))

<class 'list'>

In [3]:
#task1 create a pandas series object to store the prices of the cars and assign them the row 
# indeces from 101-120

carPrices = pd.Series(price,index)
carPrices

101    80121
102    48483
103    37077
104    30660
105    68536
106    52666
107    78703
108    51036
109    55643
110    56990
111    39967
112    93822
113    51406
114    93947
115    78373
116    62765
117    47536
118    40528
119    58780
120    83197
dtype: int64

In [4]:
#task2 identify the row indeces and prices of the cars with the highest and lowest price

print("The index of the highest price car is:")
H2L = carPrices.sort_values(ascending = False)
print(H2L[:1])
print()
print("The index of the lowest price car is:")
L2H = carPrices.sort_values(ascending = True)
print(L2H[:1])

The index of the highest price car is:
114    93947
dtype: int64

The index of the lowest price car is:
104    30660
dtype: int64

In [5]:
#task3 - Display the prices of the five cars with the highest values of car price along with their row indeces
H2L = carPrices.sort_values(ascending = False)[0:6]
print(H2L)

114    93947
112    93822
120    83197
101    80121
107    78703
115    78373
dtype: int64

In [6]:
#Task4 Display the prices of all cars priced between $30-40k along with the row indices. 
#Calculate and display the count of these cars.

thirtyforty = carPrices[(carPrices >= 30000) & (carPrices <=40000)]
print(f"There are {thirtyforty.size} cars that are between 30k and 40k")
print(thirtyforty)

There are 3 cars that are between 30k and 40k
103    37077
104    30660
111    39967
dtype: int64

In [7]:
#task5 Display the prices and row indices of the cars that are priced above the average price of all cars. 
#Display the count of such cars.


above_average = carPrices[carPrices > carPrices.mean()]

print(f"There are {above_average.size} cars that have an above averge price")

print(above_average)

There are 8 cars that have an above averge price
101    80121
105    68536
107    78703
112    93822
114    93947
115    78373
116    62765
120    83197
dtype: int64

In [8]:
#task6 The car dealer needs to add three new cars with the row indices 201, 
#202, and 203 priced at $34,000, $45,000, and $54,000, respectively. 
#Update the existing data and display the prices along with the row indices of all cars.

#alternate solution

prices = [34000, 45000, 54000]
index = [121,122,123]
new_car_prices = pd.Series(prices, index = index)
new = pd.concat([carPrices,new_car_prices])

new.to_frame()

         0
101  80121
102  48483
103  37077
104  30660
105  68536
106  52666
107  78703
108  51036
109  55643
110  56990
111  39967
112  93822
113  51406
114  93947
115  78373
116  62765
117  47536
118  40528
119  58780
120  83197
121  34000
122  45000
123  54000

In [24]:
#task7 The car dealer is offering a discount of 20% on cars priced above $60,000.
#Display the row indices along with the original and discounted prices of all such cars.

for car in carPrices.iteritems():#car is the iterable moving through the carPrices key And Value. It is turned into a tuple.    
     if np.asarray(car)[1] > 60000:#The iterable car is turned from a tuple to array and only wants the Value hence why it is indexing the 1 spot
        discount_price = carPrices[carPrices > 60000] * .8 #it is now searching through every value where it is greater than 60k
        print(f'The car price at index {np.asarray(car)[0]} had an orginial value of {np.asarray(car)[1]} and its discounted price is {np.asarray(car)[1] * .8}')#any where thats indexing 0 is only search for the keys

The car price at index 101 had an orginial value of 80121 and its discounted price is 64096.8
The car price at index 105 had an orginial value of 68536 and its discounted price is 54828.8
The car price at index 107 had an orginial value of 78703 and its discounted price is 62962.4
The car price at index 112 had an orginial value of 93822 and its discounted price is 75057.6
The car price at index 114 had an orginial value of 93947 and its discounted price is 75157.6
The car price at index 115 had an orginial value of 78373 and its discounted price is 62698.4
The car price at index 116 had an orginial value of 62765 and its discounted price is 50212.0
The car price at index 120 had an orginial value of 83197 and its discounted price is 66557.6

In [40]:
#task8 The cars priced above $60,000 are now sold due to the 20% discount offered by the dealer. 
#Update the data by deleting the details of the sold cars and print the updated data. 
#Display the count of cars before and after updating the data.


#updated_carPrices = carPrices.drop(carPrices)
for car in carPrices.iteritems():    
     if np.asarray(car)[1] > 60000:
        carPrices = carPrices.drop(labels=[np.asarray(car)[0]])

print(carPrices)

102    48483
103    37077
104    30660
106    52666
108    51036
109    55643
110    56990
111    39967
113    51406
117    47536
118    40528
119    58780
dtype: int64